Initiated data-dump process. Below are the mentioned parameters :

Fetch-Type               : ${header.emailPayLoad.fetchType}
Requesting-Institution   : ${header.emailPayLoad.requestingInstitution}
Requested-Institution(s) : ${header.emailPayLoad.institutionsRequested}
Collection-group-id(s)   : ${header.emailPayLoad.collectionGroupIds}
Transmission type        : ${header.emailPayLoad.transmissionType}
XML format               : ${header.emailPayLoad.outputFileFormat}
IMS Depository           : ${header.emailPayLoad.imsDepositoryCodes}
Emails mentioned         : ${header.emailPayLoad.to}

${header.emailPayLoad.message}